Source: nim-package-directory
Section: web
Priority: optional
Maintainer: Federico Ceratto <federico@debian.org>
Build-Depends: debhelper-compat (= 13), libsystemd-dev
Standards-Version: 4.6.0

Package: nim-package-directory
Architecture: any
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
 libjs-highlight.js,
 libjs-jquery,
 nim,
 unzip
Description: Nim package directory
 Nim package directory service
