#!/usr/bin/make -f
export DH_VERBOSE=1
# hardened using nim.cfg

%:
	dh $@

override_dh_auto_build:
	nimble --verbose c -d:systemd -d:release --checks:on --assertions:on --stackTrace:on --lineTrace:on  package_directory.nim

override_dh_auto_test:
	true
