#? stdtmpl | standard
#proc generate_about_page(): string =
#  result = ""
<div id="about" class="container pt-10 text-center">
  <img class="logo-img" src="img/nimble-logo.png" width="128px" height="auto">
  <h3>Welcome to the Nim Package Directory</h3>
  <p>This service allows you to explore Nim packages known to Nimble.<br/>
  It tests package installation and generates documentation using "nim doc".<br/>
    It also generates badges with the output of install test and documentation generation that you can link to.</p>

  <p>The badges look like: <img src="https://nimble.directory/ci/badges/jester/nimdevel/status.svg"> <img src="https://nimble.directory/ci/badges/jester/nimdevel/docstatus.svg"></p>
  <p>To link install test and documentation generation in MarkDown use:</p>
  </p>
  <pre>[![Build Status](https://nimble.directory/ci/badges/jester/nimdevel/status.svg)](https://nimble.directory/ci/badges/jester/nimdevel/output.html)</pre>
  <pre>[![Build Status](https://nimble.directory/ci/badges/jester/nimdevel/docstatus.svg)](https://nimble.directory/ci/badges/jester/nimdevel/doc_build_output.html)</pre>
  <p>Learn here how you can <a href="https://github.com/nim-lang/packages/">add your own packages</a>.</p>
  <p>You can contribute to this website <a href="https://github.com/FedericoCeratto/nim-package-directory">on GitHub</a>.</p>
</div>
