#? stdtmpl | standard
#proc base_page(req: Request, content: string): string =
#  result = ""
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Nimble Package Directory</title>
  <script src="https://kit.fontawesome.com/a30ba13df5.js" crossorigin="anonymous"></script>
  <meta name="description" content="">
  <link rel="icon" type="image/png"  href="images/favicon.png">
  <link href="https://fonts.googleapis.com/css?family=Play|Roboto|Roboto+Mono&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/thebigbaron/lime@v1.0.0/dist/lime/lime.min.css">
  <link rel="stylesheet" href="${req.makeUri("css/style.css", false)}">
  <link rel="search" type="application/opensearchdescription+xml" title="Nimble" href="https://nimble.directory/search.xml">
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
</head>
<body>
  <div class="nav">
    <a href="/" class="logo"><img src="${req.makeUri("img/nimbledir-logo.png", false)}"></a>
  <div class="nav-btn">
    <label for="nav-check">
      <span></span>
      <span></span>
      <span></span>
    </label>
  </div>
  <input type="checkbox" id="nav-check">
  <div class="nav-links">
    <a href="/packages.xml"><i class="fas fa-rss style="color:#ed7616"></i> New Packages</a>
    <a href="/about.html">About</a>
    <a href="https://nim-lang.org">Nim-lang</a>
  </div>
  </div>
  
  <div>
    ${content}
  </div>

<footer class="footer">
  <div class="footer-logo">
    <img src="img/nimbledir-logo.png" alt="Nimble Directory">
  </div>
  <hr>
  <p>Copyright &copy; Section.</p>
</footer>
</body>
</html>

