#? stdtmpl | standard
#proc generate_run_output_page(pname, run_output: string, build_time, expire_time: Time): string =
#  result = ""
  <br/>
  <p>Build output from <a href="/pkg/${pname}">${pname}</a></p>
  <p>Built on ${build_time}</p>
  <pre id="run_output">${run_output}</pre>
