#? stdtmpl | standard
#proc empty_page*(req: Request, content: string): string =
#  result = ""
<head>
	<link rel="stylesheet" href="${req.makeUri("css/nimdoc.out.css", false)}">
</head>


    

<div class="content">

    ${content}

</div>

