#? stdtmpl | standard
#proc generate_github_trending_pkg_list_page(pkgs: seq[JsonNode]): string =
#  result = ""

#for pkg in pkgs:
<div class="row">
  <div class="col-lg-8">
    <a href="/pkg/${pkg["name"].str}">
      <h4>${pkg["name"].str}</h4>
    </a>
    <div>
      Author:
      <a href="${pkg["owner"]["html_url"].str}">
        <img style="width: 50px;" src="${pkg["owner"]["avatar_url"].str}"></img>
        ${pkg["owner"]["login"].str}"
      </a>
    </div>
    <div><a href="${pkg["html_url"].str}">website</a></div>
    <div>Last update: ${pkg["update_age"].str}</div>
    <div>Stars: ${pkg["stargazers_count"].getNum}</div>
    <div>Watchers: ${pkg["watchers_count"].getNum}</div>
  </div>
</div>
<br/>
#end
