#? stdtmpl | standard
#proc generate_search_box(value=""): string =
#  result = ""
<form action="/search" method="GET" role="search" id="searchbox">
  <input id="search" name="query" placeholder="Search Nimble packages" type="search" value="$value" minlength="1" autofocus required >
</form>
#end
#
#proc generate_home_page(most_queried_packages, new_packages: seq[Pkg], github_trending: seq[JsonNode]): string =
#  result = ""
<header class="hero">
    <img class="logo" src="img/nimble-logo.png" alt="logo">
    <h1>Nimble</h1>
    <h5 style="text-align: center;">Nimble Package Directory</h5>
    ${generate_search_box()}
    <p>You don't have Nim in your computer. Install it here.</p>
    <button class="nim-install"><a href="https://nim-lang.org/install.html">Install Nim</a></button>
</header>
  <div class="upper">
    <div class="container row">
    <div id="welcome" class="col">
      <h3> Welcome to Nimble Directory</h3>
    <p class="w-message"><span>Developer?</span> Search for packages or jump directly to a package page.
    Nim Package Directory generates and hosts documentation for packages.</p>
    <p class="w-message"><span>Package maintainer?</span> <a href="/about.html">Learn</a> what this service can do for you.</p>
    </div>
    </div>
  </div>

  <div class="container medium" id="showcase">

    <div class="twelve columns" id="package-showcase">
      <h2><i class="fas fa-poll" style="color:#2ff36b"></i> Trending on GitHub</h2>
      # for i in 0 .. min(8, len(github_trending))-1:
      # let pkg = github_trending[i]
      <div class="four columns" id="pack-show">
        <h4>${pkg["name"].str}</h4>
        <span class="stars"><i class="fas fa-star" style="color:#f7e942"></i> ${pkg["stargazers_count"].getNum}</span>
        <p class="show-text"><img src="${pkg["owner"]["avatar_url"].str}""><span class="author"><a href="${pkg["owner"]["html_url"].str}">${pkg["owner"]["login"].str}</a></span>
          </p>
        <p>${pkg["update_age"].str}</p>
        <button class="visit-pack-btn"><a href="/pkg/${pkg["name"].str}/"><i class="fas fa-link"> </i> Visit</a></button>
      </div>
      # end
    </div>

    <div class="twelve columns" id="package-showcase">
      <h2><i class="fas fa-fire" style="color:#f61600"></i> New packages</h2>
      # for p in new_packages:
       <div class="four columns" id="pack-show">
        <h4><a href="/pkg/${p["name"].str}/">${p["name"].str}</a></h4>
          <p>${p["description"].str}</p>
            # if p.hasKey("web"):
            <button class="visit-pack-btn"><a href="${p["web"].str}"><i class="fas fa-link"> </i> Visit</a></button>
            # end
       </div>
      # end
    </div>

    <div class="twelve columns" id="package-showcase">
      <h2><i class="far fa-question-circle" style="color:#f3b52f"></i> Most queried</h2>
      # for p in most_queried_packages:
      <div class="four columns" id="pack-show">
        <h4><a href="/pkg/${p["name"].str}">${p["name"].str}</a></h4>
          <p>${p["description"].str}</p>
            # if p.hasKey("web"):
            <button class="visit-pack-btn"><a href="${p["web"].str}"><i class="fas fa-link"> </i> Visit</a></button>
            #end
      </div>
      #end
    </div>
  </div>
