#? stdtmpl | standard
#proc generate_home_page(): string =
#  result = ""

<h1 class="section-heading">Welcome to the Nim package directory.</h1>
<div class="pure-g">
	<div class="pure-u-1 pure-u-md-1-2">
		<h2>Show Package By Name</h2>
		<form onsubmit="location.href='/pkg/' + document.getElementById('pkg_name_inp').value; return false;">
			<input type="text" id="pkg_name_inp" />
			<button type="submit" class="submit input">Go to package</button>
		</form>
	</div>
	<div class="pure-u-1 pure-u-md-1-2">
		<h2>Search Packages</h2>
		<form action="/search" method="GET" role="search">
			<input type="text" name="query" class="" autofocus placeholder="Search tags/keywords"  />
			<button type="submit" class="submit input">Search</button>
		</form>
	</div>
</div>
