#? stdtmpl | standard
#proc generate_jsondoc_symbols_page(jd_symbols: PkgSymbols): string =
#  result = ""

<div class="jsondoc container">

  <h4>${jd_symbols.len} entries found</h4>
</div>

#for pname, symbol in jd_symbols:
  <div class="jsondoc container">
        <div class=""><code>${symbol.code}</code></div>
        <div class="">Desc: ${symbol.desc}</div>
        <div class="">Type: ${symbol.itype}</div>
        <div class="">File: ${symbol.filepath}</div>
        <div class="panel-title">Package: <a href="/pkg/${pname}">${pname}</a> </div>
        <p>Line: ${symbol.line} Col: ${symbol.col}</p><br>
      <a href="https://github.com/FedericoCeratto/nim-libsodium/blob/master${symbol.filepath}#L${symbol.line}"
          class="btn">
          <i class="fab fa-github"></i> View on GitHub
        </a>
      <button class="btn btn-link">link button</button>
  </div>
#end for