#? stdtmpl | standard
#proc generate_pkg_page(pkg: Pkg): string =
#  result = ""

<div class="columns">
  <div class="column col-9">
    <h3>${pkg["name"].str}</h3>
    #for tag in pkg["tags"]:
      <label class="chip">
        <a href="/search?query=$tag.str">
        $tag.str
        </a>
      </label>
    #end for
    <p>${pkg["description"].str}</p>
    #if pkg.has_key("github_readme"):
    <div class="card" id="github-readme">
      <div class="card-header">
        <h4 class="card-title">Readme</h4>
      </div>
      <div class="card-body">
        ${pkg["github_readme"].str}
      </div>
    </div>
    #end
  </div>

  <div class="column col-3">
    <div class="tile tile-centered" id="require-tile">
      <div class="tile-icon">
        <i class="fa fa-download fa-3x"></i>
      </div>
      <div class="tile-content">
        <div class="tile-title">
          <tt>$$ nimble install ${pkg["name"].str}</tt>
        </div>
        <div class="tile-subtitle">
          Need help? Read <a href="https://github.com/nim-lang/nimble#creating-packages">Nimble</a>
        </div>
      </div>
    </div>
    #if pkg.has_key("github_owner"):
    <div class="tile tile-centered divided">
      <div class="tile-content">
        <div class="tile-title">
          <figure class="avatar avatar-xs" data-initial="" style="background-color: #5764c6;">
          </figure>
          <a href="https://github.com/${pkg["github_owner"].str}">
            ${pkg["github_owner"].str}
          </a>
        </div>
      </div>
    </div>
    #end
    #if pkg.has_key("github_versions"):
    <div class="tile tile-centered divided">
      <div class="tile-content">
        #if pkg["github_versions"].getElems().len > 0:
          Available versions:
          <b>${pkg["github_versions"].getElems().join(", ")}</b>
        #else:
          No tagged versions available
        #end
      </div>
    </div>
    #end
    <div class="tile tile-centered divided">
      <div class="tile-content">
        <div class="tile-title">
          License: ${pkg["license"].str}
        </div>
      </div>
    </div>
    <div class="tile tile-centered divided">
      <div class="tile-content">
        <div>
          <a href="/ci/badges/${pkg["name"].str}/nimdevel/output.html">
            <img class="slickbadge"
              src="/ci/badges/${pkg["name"].str}/version.svg">
          </a>
          <a href="/ci/badges/${pkg["name"].str}/nimdevel/output.html">
            <img class="slickbadge"
               src="/ci/badges/${pkg["name"].str}/nimdevel/status.svg">
          </a>
          <a href="/ci/badges/${pkg["name"].str}/nimdevel/doc_build_output.html">
            <img class="slickbadge"
               src="/ci/badges/${pkg["name"].str}/nimdevel/docstatus.svg">
          </a>
        </div>
      </div>
    </div>

    <div class="tile tile-centered divided">
      <div class="tile-content">
        #if pkg.has_key("web"):
          <a href="${pkg["web"].str}" class="btn input-group-btn">
            <i class="fa fa-globe"></i> Project website
          </a>
        #end
        #if pkg.has_key("doc"):
          <a href="${pkg["doc"].str}" class="btn input-group-btn">
            <i class="fa fa-book"></i> Docs
          </a>
        #end if
        #let url = pkg["url"].str
        #if url.startswith("https://github.com/") or url.startswith("http://github.com/") or url.startswith("git"):
          <a class="btn input-group-btn" href="/docs/${pkg["name"].str}">
            <i class="fa fa-book"></i> Hosted docs
          </a>
        #end if
      </div>
    </div>



  </div>
</div>


<!-- TODO: Dom: IMO this shouldn't be shown -->
#if pkg.has_key("github_latest_version_time"):
<!--<small>Released on ${pkg["github_latest_version_time"].str}</small>-->
#end if
