#? stdtmpl | standard
#proc generate_pkg_page(pkg: Pkg): string =
#  result = ""

# let pname = pkg["name"].str

<div class="columns">
  <div class="column col-9">
    <h3>${pname}</h3>
    #for tag in pkg["tags"]:
      <label class="chip">
        <a href="/search?query=$tag.str">
        $tag.str
        </a>
      </label>
    #end for
    <p>${pkg["description"].str}</p>
    #if pkg.has_key("github_readme"):
    <div class="card" id="github-readme">
      <div class="card-header">
        <h4 class="card-title">Readme</h4>
      </div>
      <div class="card-body">
        ${pkg["github_readme"].str}
      </div>
    </div>
    #end
  </div>

  <div class="column col-3">
    <div class="tile tile-centered" id="require-tile">
      <div class="tile-icon">
        <i class="fa fa-download fa-3x"></i>
      </div>
      <div class="tile-content">
        <div class="tile-title">
          <tt>
            <input id="cmd" onClick="this.select();" value="nimble install ${pname}" readonly />
            <a title="Copy" onClick="document.querySelector('#cmd').select();document.execCommand('copy');"><i class="fa fa-copy"></i></a>
          </tt>
        </div>
        <div class="tile-subtitle">
          Need help? Read <a href="https://github.com/nim-lang/nimble#creating-packages">Nimble</a>
        </div>
      </div>
    </div>
    #if pkg.has_key("github_owner"):
    <div class="tile tile-centered divided">
      <div class="tile-content">
        <div class="tile-title">
          <picture>
            <!-- if Mobile 25px PNG else 99px PNG -->
            <source srcset="https://github.com/${pkg["github_owner"].str}.png?size=99" type="image/png" media="(min-width: 600px)">
            <img class="avatar avatar-xl" src="https://github.com/${pkg["github_owner"].str}.png?size=25" alt="${pkg["github_owner"].str}'s avatar">
          </picture>
          <br>
          <a href="https://github.com/${pkg["github_owner"].str}">
            ${pkg["github_owner"].str}
          </a>
        </div>
      </div>
    </div>
    #end
    #if pkg.has_key("github_versions"):
    <div class="tile tile-centered divided">
      <div class="tile-content">
        #if pkg["github_versions"].getElems().len > 0:
          Available versions:
        #  for semver in pkg["github_versions"].getElems():
            <label class="chip"><b>${semver}</b></label>
        #  end
          <br>
        #else:
          No tagged versions available
        #end
      </div>
    </div>
    #end
    <div class="tile tile-centered divided">
      <div class="tile-content">
        <div class="tile-title">
          License:
    #     let licns = pkg["license"].str.toLowerAscii.strip
    #     if licns == "mit":
            <a href="https://opensource.org/licenses/MIT">MIT</a>
    #     elif licns == "apache2" or licns == "apache":
            <a href="https://opensource.org/licenses/Apache-2.0">Apache 2</a>
    #     elif licns == "bsd":
            <a href="https://opensource.org/licenses/BSD-2-Clause">BSD</a>
    #     elif licns == "bsd2" or licns == "bsd 2-clause":
            <a href="https://opensource.org/licenses/BSD-2-Clause">BSD 2-Clause</a>
    #     elif licns == "bsd3" or licns == "bsd 3-clause":
            <a href="https://opensource.org/licenses/BSD-3-Clause">BSD 3-Clause</a>
    #     elif licns == "gplv2":
            <a href="https://opensource.org/licenses/GPL-2.0">GPL 2</a>
    #     elif licns == "gplv3":
            <a href="https://opensource.org/licenses/GPL-3.0">GPL 3</a>
    #     elif licns == "gpl":
            <a href="https://opensource.org/licenses/GPL-3.0">GPL</a>
    #     elif licns == "lgplv2":
            <a href="https://opensource.org/licenses/LGPL-2.0">LGPL 2</a>
    #     elif licns == "lgplv3":
            <a href="https://opensource.org/licenses/LGPL-3.0">LGPL 3</a>
    #     elif licns == "lgpl":
            <a href="https://opensource.org/licenses/LGPL-3.0">LGPL</a>
    #     elif licns == "cc0":
            <a href="https://creativecommons.org/publicdomain/zero/1.0">Creative Commons Zero</a>
    #     elif licns == "cc" or licns == "cc-by-nc-sa" or licns == "cc-by-nc-nd":
            <a href="https://creativecommons.org/licenses">Creative Commons</a>
    #     elif licns == "wtfpl":
            <a href="http://www.wtfpl.net">WTFPL</a>
    #     else:
            ${pkg["license"].str}
    #     end
        </div>
      </div>
    </div>
    <div class="tile tile-centered divided">
      <div class="tile-content">
        <div>
          <a href="/ci/badges/${pname}/nimdevel/output.html">
            <img class="slickbadge" id="versionbadge">
          </a>
          <a href="/ci/badges/${pname}/nimdevel/output.html">
            <img class="slickbadge" id="statusbadge">
          </a>
          <a href="/ci/badges/${pname}/nimdevel/doc_build_output.html">
            <img class="slickbadge" id="docstatusbadge">
          </a>
        </div>
        <button class="btn btn-sm" id="rebuildbtn">rebuild now</button>
      </div>
    </div>

    <div class="tile tile-centered divided">
      <div class="tile-content">
        #if pkg.has_key("web"):
          <a href="${pkg["web"].str}" class="btn input-group-btn">
            <i class="fa fa-globe"></i> Project website
          </a>
        #end
        #if pkg.has_key("doc"):
          <a href="${pkg["doc"].str}" class="btn input-group-btn">
            <i class="fa fa-book"></i> Docs
          </a>
        #end if
        #let url = pkg["url"].str
        #if url.startswith("https://github.com/") or url.startswith("http://github.com/") or url.startswith("git"):
          <a class="btn input-group-btn" href="/docs/${pname}">
            <i class="fa fa-book"></i> Hosted docs
          </a>
        #end if

        <script>
          function reload_badges() {
            $$("#versionbadge").attr("src", "/ci/badges/${pname}/version.svg");
            $$("#statusbadge").attr("src", "/ci/badges/${pname}/nimdevel/status.svg");
            $$("#docstatusbadge").attr("src", "/ci/badges/${pname}/nimdevel/docstatus.svg");
          }
          function reload_rebuildbtn() {
            $$.getJSON( "/ci/status/${pname}", function(resp) {
              if (resp.status == "building") {
                $$("#rebuildbtn").addClass("loading");
              } else {
                $$("#rebuildbtn").removeClass("loading");
                reload_badges();
              }
            });
          }
          $$("#rebuildbtn").click(function() {
            $$.post("/ci/rebuild/${pname}");
            $$("#rebuildbtn").addClass("loading");
          });
          setInterval(reload_rebuildbtn, 5000);
          reload_rebuildbtn();
        </script>

      </div>
    </div>

  </div>
</div>


<!-- TODO: Dom: IMO this shouldn't be shown -->
#if pkg.has_key("github_latest_version_time"):
<!--<small>Released on ${pkg["github_latest_version_time"].str}</small>-->
#end if
