#? stdtmpl | standard
#proc generate_pkg_list_page(pkgs: seq[Pkg]): string =
#  result = ""

#for pkg in pkgs:
			<div class="row">
  			<div class="col-lg-8">
					<a href="/pkg/${pkg["name"].str}"><h4>${pkg["name"].str}</h4></a>
     			<p class="lead">${pkg["description"].str}</p>
#if pkg.has_key("web"):
		    	<a class="button" href="${pkg["web"].str}">Project Website</a>
#end if
      	</div>
#end for
